@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
html, body {
	background: #eee;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	color: #333;
	height: 100%;
	min-height: 100%;
}

a {
	cursor: pointer;
}

.blue {
	color: #1E88E5
}

.green {
	color: #4CAF50
}

.yellow {
	color: #F9A825
}

.red {
	color: #F44336
}

.light {
	color: #999
}

.italic {
	font-style: italic;
}

.bold,
.strong {
	font-weight: 700
}

small,
.small {
	font-size: 80%
}

br.separator {
	height:2px;
	content: "";
	visibility: visible;
	background: rgba(0,0,0,.05);
	display: block;
	margin: 20px auto;
}

br.separator.small {
	width: 40px
}

.text-right {
	text-align: right !important
}

.text-left {
	text-align: left !important
}

.text-center {
	text-align: center !important
}

section {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 100%;
	background-position: center center !important;
	background-size: cover !important;
	display: none;
}

section > video {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	/*width: 100%;*/
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}

section.active {
	display: flex;
}

section .section-container,
section .main-overlay {
	align-items: stretch;
	width: 100%;
	min-height: 100%;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 98;

	overflow-y: auto;
	padding: 80px 0 !important;
}

section .main-overlay {
	background: rgba(33,33,33,.9);
	/*background: rgba(229,57,53,.8);*/
}

section .content {
	width: 50%;
}

section h5.subtitle {
	font-weight: normal;
	line-height:20px;
}

section .content .compartment,
section .btn-action {
	margin-top: 35px;
}

.white-card {
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

	margin-bottom: 20px;
}

.white-card h1,
.white-card h2,
.white-card h3,
.white-card h4,
.white-card h5,
.white-card h6 {
	color: #333;
	margin-top: 0
}

.white-card .content {
	width: 100%;
	padding: 25px 20px;
}

.white-card.hoverable:hover {
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.15);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.15);
	-ms-box-shadow: 0 5px 10px rgba(0,0,0,.15);
	-o-box-shadow: 0 5px 10px rgba(0,0,0,.15);
	box-shadow: 0 5px 10px rgba(0,0,0,.15);

	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.white-card .desc {
	color: #666;
	font-family: "Open Sans", sans-serif;
}

.white-card .desc ul {
	margin: 0;
	padding-left: 20px;
}

.white-card .desc li {
	padding-bottom: 10px;
}

.white-card .num-badge {
	margin-right: 8px;
}

.num-badge {
	min-width: 30px;
	height: 30px;
	background: #1E88E5;
	color: #fff;
	display: inline-block;
	padding: 7px 10px;
	text-align: center;

	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	-ms-border-radius:30px;
	-o-border-radius:30px;
	border-radius:30px;
}

.num-badge.green {background:#4CAF50}
.num-badge.yellow {background:#F9A825}
.num-badge.red {background:#F44336}

/**
 * Colours
 * 
 * Blue   : 1E88E5;
 * Green  : 4CAF50;
 * Yellow : F9A825;
 * Red 	  : F44336;
 **/
.notice {
	background: #1E88E5;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;

	font-family: "Open Sans", sans-serif;
	color: #fff !important;
	border-radius: 2px;
	padding: 10px;
	display: block;
	margin-bottom: 10px;
}

.notice.text-only {
	background: transparent !important;
	padding: 0;
	color: #1E88E5 !important;
}

.notice.green {background:#4CAF50}
.notice.yellow {background:#F9A825}
.notice.red {background:#F44336}
.notice.text-only.green {color:#4CAF50 !important}
.notice.text-only.yellow {color:#F9A825 !important}
.notice.text-only.red {color:#F44336 !important}

.ribbon {
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-size: 12px;
	color: #fff !important;
	position: fixed;
	width: 100%;
	top: 0;
	padding: 13px;
	padding-right: 30px;
	background: #1E88E5;
	z-index: 99;
}

.ribbon.green {background:#4CAF50}
.ribbon.yellow {background:#F9A825}
.ribbon.red {background:#F44336}

.ribbon a {
	color: inherit;
	text-decoration: underline;
}

.ribbon a:hover {
	text-decoration: none;
}

.ribbon a.dismiss {
	text-decoration: none !important;
	font-weight: 700;
	font-size: 21px;
	position: absolute;
	right: 13px;
	top: 6px;
	color: inherit;
	cursor: pointer;
}

.centralized,
.centralize {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	text-align: center;
	min-height: 100%;
}

.btn {
	background: transparent;
	padding:0.8em 4em;
	border: 2px solid #fff;
	color: #fff;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
}

.btn.btn-dark {
	border-color: #666;
	color: #666;
}

.btn.btn-dark:hover {
	border-color: #333;
	color: #333;
	background: transparent;
}

.btn.btn-sm {
	padding:0.67em 3.33em;
}

.btn.btn-xs {
	font-size: 10px;
	padding: 0.4em 2em;
}

.btn:hover {
	background: #fff;

	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-ms-transition: ease .3s;
	-o-transition: ease .3s;
	transition: ease .3s;
}

.btn:active {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.btn.btn-success,
.btn.btn-green {
	color: #fff !important;
	background: #4CAF50;
	border-color: transparent !important
}

.btn.btn-success:hover,
.btn.btn-green:hover {
	background: #2FA237
}

.btn.btn-success:active,
.btn.btn-green:active {
	background: #15971D
}

/* Radiobutton and Checkbox */
.checkbox, .radio {
	display: block !important;
	position: relative;
	padding: 2px 0 15px;
	margin: 0;
}

.checkbox label, .radio label {
	font-size: 15px;
	font-weight: normal;
	cursor: pointer;
	display: inline-block;
	position: relative;
	padding-left: 30px;
}

.checkbox.small label,
.radio.small label {
	font-size: 93% !important;
}

.checkbox input[type=checkbox]:disabled + label,
.radio input[type=radio]:disabled + label {
	cursor: default;
}

.checkbox input[type=checkbox], .radio input[type=radio] {
	display: none;
}

.checkbox label:before, .radio label:before {
	font-family: "FontAwesome", sans-serif;
	content: "";
	display: inline-block;
	width: 18px;
	height: 18px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: #fff;
	border: 2px solid #C7C9C0;
	font-size: 12px;
	color: #66BB6A;
	line-height: 14px;
	text-align: center !important;

	margin-top: 1px;

	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
}

.radio label:before {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
}

.checkbox input[type=checkbox] + label:hover:before,
.radio input[type=radio] + label:hover:before {
	background-color: #f9f9f9;
	border-color: #aaa;
	-webkit-transition: .1s linear;
	-moz-transition: .1s linear;
	transition: .1s linear
}

.checkbox input[type=checkbox]:checked + label:before {
	content: "\f00c";
	background-color: #66BB6A;
	border-color: #66BB6A;
	color: #fff;
}

.checkbox input[type=checkbox]:disabled + label:before,
.checkbox input[type=checkbox]:disabled + label:hover:before,
.radio input[type=radio]:disabled + label:before,
.radio input[type=radio]:disabled + label:hover:before {
	background-color: #fff;
	border-color: #ddd;
	color: #9DD5EA
}

.checkbox input[type=checkbox]:disabled + label,
.radio input[type=radio]:disabled + label {
	/*color: #666;*/
	opacity: .6;
}

.radio input[type=radio]:checked + label:before {
	/*content: "\f111";*/
	border: 5px solid #66BB6A
}